.servicos-panel {

    height: 500px !important;
    padding-top: 2%;
    padding-left: 15%;
    padding-right: 15%;


    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}

.imagens-servicos {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.servico {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;                           
}